
nav {
    height: 70px;
    /* display: flex;
    justify-content: space-between;*
    align-items: center; */
    /* position: fixed; */
    width: 100%;
    position: relative;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;

    position: sticky;
    z-index: 100;
    top : 0;

    background-color: white;
    border-bottom: 1px solid rgb(209, 212, 209);
}

/* .navSpans{
    float: left;
} */

#menu{
    position: absolute;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 1130px;

}

#logo{
    position: absolute;
    margin-left: 620px;
}

#searchBox{
    position: absolute;
    margin-right: 0px;
    margin-top: 15px;
    margin-left: 200px;
}

#header{
    background-image: url(../resorces/newBackGround.jpg);
    background-size: cover;
    height: 700px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logoImage{
    width: 160px;
}

#menuIcon{
    width : 40px
}

#searchButton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    align-items: center;
    width: 125px;
    height: 38.2px;
    border-radius: 5px;
    border-color: #1C4D4B;
    border-width: 1.5px;
    background-color: white;
    color: #1C4D4B;
    font-weight: 1000;
}

#searchImg{
    width: 15px;
}

#header{
    position: relative;
}

.headerSpans{
    color: white;
    position: absolute;
}

#header-rigth{
    color: white;
    position: absolute;
    width: 200px;
    margin-left: 760px;
    margin-top: 60px;
}

#header-left{
    color: white;
    position: absolute;
    text-align: right;
    width: 500px;
    font-size: 18px;
    margin-top: 180px;
    margin-left: 240px;
}

.sticky {
    position: sticky;
    /* top: 0; ????*/
    z-index: 100;
}



#whatsappaButton{
    top : 650px;
    left: 1450px;
    background-image: url(../resorces/whatsapp.png);
    background-size: cover;
    width : 50px;
    height: 50px;

    border: none;
    border-radius: 4px;
}
#basketBautton{
    top : 590px;
    left: 1450px;
    background-image: url(../resorces/basket.png);
    background-size: cover;
    width : 50px;
    height: 50px;

    border-width: 1px;
    border-color: #a1a1a1;
    border-radius: 4px;
}

p{
    margin: 0;
}

h1{
    margin-bottom: 15px;
    margin-top: 15px;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

#headerButton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: 120px;
    height: 40.2px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-top: 40px;
    border-radius: 20px;
    align-items: center;
    color: white;
    font-weight: 1000;
    margin-left: 370px;
    background-color: #edaa2dee;
}

.titles{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #edaa2dee;
    text-underline-offset: 17px;
    font-weight: 2000;
    color: #1C4D4B;
    margin-top: 50px;

}

.toolsSpans, 
.PublishersSpans{
    background-color: rgb(245, 247, 245);
    border-color: rgb(209, 212, 209);
    border-width: 1px;
    border-style: solid;

    width : 230px;
    height: 120px;
    margin: 10px;

    border-radius: 20px;
    align-items: center;

    justify-content: center;
    display: flex;

    color: rgb(133, 133, 133);
    font-size: 20px;

    position: relative;
}

.PublishersSpans{
    height: 150px;
    width: 300px;
}

#tools, 
#Publishers{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    /* justify-content: center;  */

    height: 200px;
}

#Publishers{
    margin-top: 40px;
}

.numbers{
    color: #cd3277;
    margin-top: 15px;
    margin-bottom: 70px;
    margin-right: 20px;
    text-size-adjust: 600px;
}

.PublishersTitles{
    margin-top: 60px;
}

.section{
    background-color: rgb(245, 247, 245);
    padding: 30px;
}

.toolsIcons{
    position: absolute;
    display: block;
    margin : 7px;
    width: 40px;
    margin-bottom: 50px;
}

.toolsTitles,
.PublishersTitles{
    display: block;
    position: absolute;
    margin-top: 40px;
}

#publishersbutton{
    width: 215.2px;
    height: 65.2px; 
    margin-top: 50px;
    margin-right: 50px;
    color:#1C4D4B;
    background-color:rgb(245, 247, 245) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 14px;
    border-color: #1C4D4B;
    border-radius: 10px;
    display: flex;
    padding: 18px;
}

.buttonIcon{
    width: 20px;
    margin-right: 5px;
    margin-top: 3px;
}

#booksContainer{
    display: flex;
    justify-content: center;
}

.book{
    display: inline-block;
    margin: 20px;
    width: 20%;
    text-align: right;
 
}

.bookImage{
    width: 300px;
    height: 400px;
}

.bookName{
    color: #215a58;
    font-size: 15px;
    font-weight: 800;
}

.price{
    color: #7cd48c;
    margin-top: 10px;
    margin-bottom: 3px;
}

.publishingHouse{
    color:black;
    display: inline-block;
}

.publishingHouseLink{
    text-decoration: none;
    color: #2a7573;
}

.basketButton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    display: block;
    width: 285.2px;
    height: 35.2px;
    margin-top: 18px;
    margin-left: 10px;
    border: none;
    background-color: #3cac74;
    color: white;
}